@font-face {
	font-family: "cs-clarity";
	src: url("/fonts/cs-clarity/cs-clarity-regular.ttf");
}

@font-face {
	font-family: "cs-clarity-bold";
	src: url("/fonts/cs-clarity/cs-clarity-bold.ttf");
}

body {
	margin: 0;
}

:root {
	/* Border radii */
	--lg-border-radius: 8px;
	--sm-border-radius: 4px;

	/* Colours */
	--midnight: #253648;
	--gallery: #f7f7f8;
	--cta: #0f81a3;
	--cta-hover: #66aec5;
	--heading: #263648;
	--description: #747f8a;
	--positive-pill-text: #15693b;
	--positive-pill-background: #ddf9ea;
	--negative-pill-text: #764c25;
	--negative-pill-background: #fdefe2;
	--neutral-pill-background: #eeeff1;
	--white: #ffffff;

	/* Font Sizes */
	--xl-font: 20px;
	--lg-font: 16px;
	--md-font: 14px;
	--sm-font: 12px;

	/* Fonts */
	--cs-clarity: cs-clarity, Helvetica, Arial, sans-serif;
	--cs-clarity-bold: cs-clarity-bold, Helvetica, Arial, sans-serif;

	/* Box shadow */
	--card-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.16);
}
