.insights {
	display: flex;
	flex-direction: column;
	gap: 9px;
}

.heading {
	margin: 0;
	font-family: var(--cs-clarity-bold);
	padding: 24px 6% 0;
}

.insightsCards {
	display: grid;
	grid-template-columns: repeat(3, 50.3%);
	overflow: scroll;
	gap: 8px;
	padding: 0 6% 24px;
}

.cardContainer {
	display: flex;
	flex-direction: column;
	gap: 24px;
	background: var(--white);
	box-shadow: var(--card-shadow);
	border-radius: var(--lg-border-radius);
	padding: 16px;
}

.insightHeader {
	font-family: var(--cs-clarity-bold);
	letter-spacing: 0.5px;
	margin: 0 0 4px;
	color: var(--heading);
	font-size: var(--lg-font);
	line-height: 20px;
}

.insightDescription {
	font-family: var(--cs-clarity);
	margin-top: 0;
	line-height: 20px;
	color: var(--description);
	font-size: var(--md-font);
}

/* Medium */
@media screen and (min-width: 768px) {
	.insightsCards {
		grid-template-columns: repeat(3, 51.7%);
	}
}

/* Large */
@media screen and (min-width: 1024px) {
	.insights {
		gap: 16px;
	}

	.insightsCards {
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: 1fr;
		gap: 16px;
	}

	.cardContainer {
		padding: 24px;
	}

	.pills {
		display: flex;
		gap: 8px;
	}
}

/* Extra large */
@media screen and (min-width: 1280px) {
	.insights {
		gap: 24px;
	}

	.insightsCards {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
